  <div class="container">
    <footer>
      <small>
        <%=  "PAP! Website footer info" %>
        by <%=  "Hethe Berg, " %><a href="growthcode.github.io">growthcode.github.io</a>
      </small>
    </footer>
  </div>
