<form method="post" class="form_new_action">

    <input type="text" name="action_statement" placeholder="Single Action Statement (1 step and it is done!)" class="form-control ">

    <textarea name="description" class="form-control " rows="3" placeholder="Notes or details go here... but if it is an 'actionable' item, then it belongs on it's own action step."></textarea>




    <!-- <input type="text" name="email" class="form-control" placeholder="email"> -->

  <div class="name_title">
    <input type="text" name="acting_person_title" class="form-control left_textbox_person_title" placeholder="Do'ers Title">
    <input type="text" name="acting_person" class="form-control right_textbox_acting_person" placeholder="Person's Name">
  </div>


<br>
<div class="form-group form-group-sm select_shit">
    <label class="col-sm-2 control-label" for="priority_selector_id">Priority Level</label>
    <div class="col-sm-3">
    <select name="priority" class="form-control priority_selector" id="priority_selector_id">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
    </div>
  </div>

  <div class="select_checkbox_dragicon">
    <!-- <label for="select_priority_level">Priority Level</label> -->
<!--     <select name="priority" class="form-control priority_selector" id="priority_selector_id">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select> -->

    <div class="checkbox">
      <label>
        <input type="checkbox" name="status" value="complete" class="checkbox_ready"> Prepared?
      </label>
    </div>
  </div>

  <div class="save_action_top_bottom_drag">

    <button type="submit" class="bottom_saver btn btn-default" href="/paps/<%= @paps.id %>">
        <span class="glyphicon glyphicon-save"> Save</span>
    </button>
<!--     <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-open"> Save</span>
    </button>
    <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-list"> Drag</span>
    </button> -->
  </div>

</form>

  <!-- <button type="submit" class="btn btn-success form_action_submit">Create PAP</button> -->










