<form method="post" action="/paps/<%= @paps.id %>" >

    <input type="text" name="action_statement" placeholder="Single Action Statement (1 step and it is done!)" class="form-control ">

    <textarea name="description" class="form-control " rows="3" placeholder="Notes or details go here... but if it is an 'actionable' item, then it belongs on it's own action step."></textarea>




    <!-- <input type="text" name="email" class="form-control" placeholder="email"> -->

  <div class="name_title">
    <input type="text" name="acting_person_title" class="form-control left_textbox_person_title" placeholder="Do'ers Title">
    <input type="text" name="acting_person" class="form-control right_textbox_acting_person" placeholder="Person's Name">
  </div>

<!--   <button type="submit" class="btn btn-success form_action_submit">Create PAP</button> -->

  <div class="select_checkbox_dragicon">
    <select name="priority" class="form-control priority_selector">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>

    <div class="checkbox">
      <label>
        <input type="checkbox" name="status" value="complete" class="checkbox_ready"> Prepared?
      </label>
    </div>
  </div>

</form>


  <!-- </div> -->
  <!-- </div> -->
  <!-- <div class="form-group"> -->
  <!-- </div> -->
  <!-- <div class="form-group"> -->
  <div class="form-group form-inline" >
</div>
