  <ol class="sortable">
    <% @paps.actions.each_with_index do |action_step, index| %>
      <li id="action_<%=action_step.id%>" >"{<%= action_step.id %>} action_step.id" {<%= action_step.id %>} | <a href="#">Edit</a> | <a href="#">Delete</a>
    <br>
    <br>
    </li>
    <% end %>
    <br>

  </ol>
