<select class="form-control manage_actions">
  <option value="actions_all">All Action Steps</option>
  <option value="action_sort">Sort Action Steps</option>
  <option value="act_status">Action Status: Ready</option>
  <option value="pri_1">View Priority: 1</option>
  <option value="pri_1-2">View Priority: 1-2</option>
  <option value="pri_1-3">View Priority: 1-3</option>
  <option value="pri_1-4">View Priority: 1-4</option>
  <option value="pri_1-5">View Priority: 1-5</option>
</select>




