<select class="form-control manage_actions">
  <option>Sort Steps</option>
  <option>View Priority: 1</option>
  <option>View Priority: 1-2</option>
  <option>View Priority: 1-3</option>
  <option>View Priority: 1-4</option>
  <option>View Priority: 1-5</option>
</select>
