<div class="page-header">
  <h1><%="#{@pap.process_name}"%> Action Process</h1>
</div>


<!-- @pap.each do |pap|
  pap. -->

<form method="post" action="/action/create">
  <input type="text" name="acting_person_title" placeholder="Do'ers Title"><br>
  <input type="text" name="acting_person" placeholder="Person's Name">
  <input type="text" name="action_statement" placeholder="Action Statement"><br>
  <textarea name="description" rows="4" cols="50" >Notes or details go here... but if it is an "actionable" item, then it belongs on it's own action step.</textarea>
  <input type="integer" name="priority" placeholder="1 through 5">
  <input type="text" name="email" placeholder="email"><br>
  <input type="submit" value="submit">
</form>












